@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,700;1,700&family=Science+Gothic:wght@100..900&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(105, 120, 255);
}


header div {
    font-family: 'Space Grotesk', 'Courier New', Courier, monospace ;
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
::before, ::after {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    box-shadow: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    filter: none;
    filter: blur(4px) brightness(110%);
    backdrop-filter: blur(8px);

}

header h1 {
    color: rgb(255 255 255);
    margin-bottom: 0.5rem;
    letter-spacing: 0.2em;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}


header h2 {
    color: rgb(13 204 242 / 0.8);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}